body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    overflow-x: hidden;
}

p {
    color: #6C6B7B;
    font-size: calc(14px + 0.3vw);
}

h3 {
    color: #3D3C68;
    font-size: 21px;
}

/* Nav */

.navbar-brand {
    font-size: 25px;
    font-weight: 700;
    color: #3D3C68;
    margin: 0;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}

.navbar-brand:hover {
    color: #A4A3B9;
}

.navbar-top {
    padding-top: 16px;
    padding-left: 50px;
    padding-right: 50px;
}

#vertical-nav {
    list-style-type: none;
    position: fixed;
    bottom: calc(50% - 120px);
    padding-left: 40px;
    z-index: 99;
}

.nav-item { 
    margin-top: 23px;
    margin-bottom: 23px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav-link {
    color: #A4A3B9;
    font-weight: 500;
    margin: 30px;
    width: 120px;
    text-decoration: none;
    letter-spacing: 0.05em;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
}

.nav-link:hover {
    color: #3D3C68;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav-link:active {
    color: #8483af;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.active {
    color: #3D3C68;
    border-left: 3px solid #4CB5FF;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Home Area */

.absolute-bl {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.absolute-tr{
    position: absolute;
    top: -20px;
    right: 20px;
}

#home {
    position: relative;
    height: 896px;
    width: 100%;
}


/* Home Background Area */

#home-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.img1 {
    position: absolute;
    width: 95%;
    height: 95%;
    z-index: -1;
    bottom: 0;
    right: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    background-image: url("../img/1.svg");
    transform-origin:bottom right;
}

.img2 {
    position: absolute;
    width: 90%;
    height: 90%;
    z-index: -1;
    bottom: 0;
    right: 0;
    background-position: right bottom;
    background-size: cover;
    background-image: url("../img/2.svg"); 
    transform-origin:bottom right;
}

.img3 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    bottom: 0;
    right: 0;
    background-position: right bottom;
    background-size: cover;
    background-image: url("../img/3.svg"); 
    transform-origin:bottom right;
}

.img4 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    bottom: 0;
    right: 0;
    background-position: right bottom;
    background-size: cover;
    background-image: url("../img/4.png"); 
    transform-origin:bottom right;
}

.img1Scale {
    -webkit-animation-name: img1Scale;
    animation-name: img1Scale;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes img1Scale {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
        -webkit-transform: scale(1.05);
    }
}

.img2Scale {
    -webkit-animation-name: img2Scale;
    animation-name: img2Scale;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes img2Scale {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
        -webkit-transform: scale(1.1);
    }
}

/* .img3Scale {
    -webkit-animation-name: img3Scale;
    animation-name: img3Scale;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes img3Scale {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
        -webkit-transform: scale(1.2);
    }
}

.img4Scale {
    -webkit-animation-name: img4Scale;
    animation-name: img4Scale;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes img4Scale {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
        -webkit-transform: scale(1.25);
    }
}

*/ 

#home-banner { 
    padding-bottom: 150px;
}

.bio-img {
    padding-left: 50px;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: 2s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.h-title1 {
    font-size: calc(5px + 1vw);
    font-weight: 400;
    color: #726a84;
    margin-top: 0px;
    margin-bottom: 8px;
}

.h-title2 {
    font-size: calc(42px + 1vw);
    color: #3D3C68;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 8px;
}

.h-title3 {
    position: relative;
    font-weight: 500;
    font-size: calc(25px + 1vw);
    color: #3D3C68;
    margin-right: 150px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.h-desc {
    margin-top: 30px;
    line-height: 28px;
    border-left: 4px solid #4CB5FF;
    padding-left: 20px;
    margin-bottom: 5%;
}

.contact-button {
    position: relative;
    text-decoration: none;
    color: #3D3C68;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-top: 3%;
    -webkit-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
    text-transform: uppercase;
}

.contact-button:before, .contact-button:after{
    content: '';
    height: 1em;
    position: absolute;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-button:after {
    left: 1rem;
    right: 0;
    top: 0.6rem;
    background: #FDB92D;
    width: 105%;
    z-index: -1;
    opacity: 0.3;
}

.contact-button:hover:after {
    top: 0.4rem;
    left: 0;
}

.container {
    padding-top: 210px;
    padding-left: 120px;
    padding-right: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col-1 {
    flex-basis: 8.3%;
}

.col-2 {
    flex-basis: 16.6%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 33.3%;
}

.col-6 {
    flex-basis: 50%;
}

.col-8 {
    flex-grow: 66.6%;
}
.col-9 {
    flex-grow: 75%;
}

.invisible {
    opacity: 0;
}

.square1 {
    margin: 10px;
}

.animated.loop {
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.animated.delay3 {
    animation-delay: .3s;
}

.animated.delay5 {
    animation-delay: .5s;
}

.animated.delay15 {
    animation-delay: 1.5s;
}

.animated.delay10 {
    animation-delay: 1s;
}

.animated.delay20 {
    animation-delay: 2s;
}

.animated.delay25 {
    animation-delay: 2.5s;
}

.animated.delay30 {
    animation-delay: 3s;
}

.animated.delay35 {
    animation-delay: 3.5s;
}

.animated.delay40 {
    animation-delay: 4s;
}

.animated.delay45 {
    animation-delay: 4.5s;
}

.animated.delay50 {
    animation-delay: 5s;
}

.animated.delay55 {
    animation-delay: 5.5s;
}

.animated.delay60 {
    animation-delay: 6s;
}

.animated.delay65 {
    animation-delay: 6.5s;
}

.animated.delay70 {
    animation-delay: 7s;
}

.animated.delay75 {
    animation-delay: 7.5s;
}

.animated.delay80 {
    animation-delay: 8s;
}

.animated.blink {
    animation-name: blink;
}

@keyframes blink {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}

/* Skills Area */

#skills {
    height: auto;
    width: 100%;
    /*background-color: #F9FAFB;*/
    padding-bottom: 30px;
}

/* #skills-background {
    position: absolute;
    width: 100%;
    height: 100%;
}  if I want to use a background image in the future */

.s-container {
    position: relative;
    width: 58%;
    margin: 0 auto;
}

.section-heading {
    color: #3D3C68;
    display: inline-block;
    font-size: 21px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.title-light {
    font-weight: 600;
    margin: 0;
}

.title-bold {
    font-weight: 800;
    margin: 0;
    display: inline-block;
}

.line-shape {
    width: 25px;
    height: 4px;
    background-color: #4CB5FF;
    margin-top: 15px;
    display: inline-block;
}

.s-desc {
    margin-top: 5px;
}

.single-skill {
    height: 100%;
    width: 125%;
    background-color: #fff;
    border: 1px solid #eff2f6;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02);
}

.skill-desc {
    color: #726a84;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.85em;
    font-weight: 300;
    line-height: 1.5rem;
}

#skill1 {
    border-bottom: 5px solid rgba(156,208,255, 1);
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
}

#skill2 {
    border-bottom: 5px solid rgba(255,182,182, 1);
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
}

#skill3 {
    border-bottom: 5px solid rgba(246,213,177, 1);
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
}

#skill4 {
    border-bottom: 5px solid rgba(149,219,202, 1);
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
}

#skill1:hover, #skill2:hover, #skill3:hover, #skill4:hover {
    transform: translateY(-10px);
}

.text-center{
    text-align: center;
}

.icon {
    height: 70px;
    width: 70px;
    background-color: #E8E8E8;
    border-radius: 50%;
    margin: auto;
}

.icon-space{
    margin-top: 20px;
}

h4 {
    color: #3D3C68;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* About Me Area */
#about {
    position: relative;
    height: 560px;
    width: 100%;
}

.a-container {
    position: relative;
    width: 83%;
    margin: 0 auto;
}

.justify-content {
    justify-content: space-around;
}

.a-desc {
}

@media (max-width: 700px) {
    .bio-img {
        display: none;
    }
}

@media (max-width: 768px) {
    .s-row {
        flex-direction: column;
    }
    .col-2 {
        display: none;
    }
    
    .absolute-bl {
        display: none;
    }
    
    .absolute-tr {
        display: none;
    }
    
    .nav-link {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 830px) {
    .nav-item {
        display: inline-block;
    }
    
    #vertical-nav {
        display: contents;
    }
}

.resume {
    position: relative;
    width: 50%;
    height: 580px;
    display: inline-block;
    margin-left: 100px;
    float: left;
}

.float-right {
    float: right;
    padding-top: 20px;
    margin-right: 50px;
    word-wrap: break-word;
    line-height: 30px;
}

.p-top-20 {
    padding-top: 20px;
}

.absolute {
    position: absolute;
}

.a-subdesc {
    margin-left: 40px;
}

/* Portfolio Area */
#portfolio {
    height: auto;
    width: 100%;
    position: relative;
}

.p-container {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.relative {
    position: relative;
}

.h-margin {
    margin-bottom: 5%;
}

.display-block {
    display: block;
}

.justify-center {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.project-margin {
    margin-bottom: 10%;
}

.project-img {
    width: 100%;
}

.p-heading-left {
    font-size: calc(15px + 2vw);
    padding-left: 7%;
    margin-bottom: 10px;
}

.p-heading-right {
    font-size: calc(15px + 2vw);
    padding-right: 11%;
    margin-bottom: 10px;
}

.text-align-right {
    text-align: right;
    margin-right 11%;
}

.p-desc-left1, .p-desc-left2 {
    width: 85%;
    padding-left: 3%;
}

.p-desc-left1 {
    border-left: 4px solid rgba(246,213,177,1);
}

.p-desc-left2 {
    border-left: 4px solid rgba(255,182,182,1);
}

.p-desc-right {
    margin-right: 7%;
    width: 85%;
    text-align: right;
    padding-right: 3%;
    border-right: 4px solid #4CB5FF;
}

.margin-left-7 {
    margin-left: 7%;
}

.margin-right-11 {
    margin-right: 11%;
    text-align: right;
}

.p-button {
    position: relative;
    text-decoration: none;
    color: #3D3C68;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-top: 3%;
    -webkit-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
    text-transform: uppercase;
}

.p-button:before, .p-button:after{
    content: '';
    height: 1em;
    position: absolute;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.p-button:after {
    left: 1rem;
    right: 0;
    top: 0.6rem;
    background: #FDB92D;
    width: 18%;
    z-index: -1;
    opacity: 0.3;
}

.p-button:hover:after {
    top: 0.4rem;
    left: 0;
}

.p-button2 {
    position: relative;
    text-decoration: none;
    color: #3D3C68;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-top: 3%;
    -webkit-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
    text-transform: uppercase;
}

.p-button2:before, .p-button2:after{
    content: '';
    height: 1em;
    position: absolute;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.p-button2:after {
    left: 29.5rem;
    right: 0;
    top: 0.6rem;
    background: #FDB92D;
    width: 18%;
    z-index: -1;
    opacity: 0.3;
}

.p-button2:hover:after {
    top: 0.4rem;
    left: 30.2rem;
}


/* Contact Area */
#contact {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #F9FAFB;
    text-align: center;
}

.line-block {
    display: block;
    margin-top: 20px;
    margin-left: 49.5%;
    margin-bottom: 15px;
}

.c-desc {
    width: 30%;
    margin:0 auto;
    text-align: center;
    font-size: 0.7em;
    line-height: 30px;
    margin-bottom: 10px;
}

.email-link {
    display: block;
    width: 20%;
    margin:0 auto;
    text-decoration: none;
    font-weight: 600;
    color: #6EBAFF;
    font-size: 0.8em;
    padding-bottom: 30px;
    border-bottom: 1px solid #C7C7C7;
    margin-bottom: 10px;
}

.icons {
    margin: 0 auto;
    flex-wrap: wrap;
    opacity: 0.65;
}

.facebook, .instagram, .linkedin {
    height: 1%;
    width: 1%;
    padding: 2px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #6E6E6E;
    -webkit-transition: opacity 250ms;
    -o-transition: opacity 250ms;
    transition: opacity 250ms;
}

.facebook:hover, .instagram:hover, .linkedin:hover {
    opacity: 0.55;
}